/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	/* ===== Colors ===== */
	--body-color: #e4e9f7;
	--sidebar-color: #fff;
	--primary-color: #695cfe;
	--primary-color-light: #f6f5ff;
	--toggle-color: #ddd;
	--text-color: #707070;

	/* ====== Transition ====== */
	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.3s ease;
	--tran-05: all 0.3s ease;
}

body {
	background: #111222;
}

html {
	scroll-behavior: smooth;
}
.about-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 100px;
	color: var(--body-color);
}

.about-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-title {
	font-size: 4em;
	margin-bottom: 50px;
}

.content {
	position: relative;
	width: 1150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .image {
	position: relative;
	width: 800px;
	height: 400px;
	overflow: hidden;
}

.content .image img {
	z-index: 111;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.content .text-box {
	z-index: 112;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	padding: 40px;
	max-width: 400px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	transform: translate(-80px, 50px);
}

.content .text-box h3 {
	font-size: 2em;
	margin-bottom: 10px;
}
.media-icons {
	margin-top: 100px;
}

.media-icons a {
	color: #fff;
	font-size: 2em;
	margin: 60px;
}

.section-title {
	font-size: 3em;
	margin-bottom: 80px;
}

.info-title {
	font-size: 1.8em;
	margin-bottom: 10px;
}

.info {
	width: 700px;
	margin-left: 50px;
}

.media-info {
	width: 400px;
	margin-left: 100px;
}

.media-info li {
	list-style: none;
	font-size: 1.4em;
}

.media-info li a {
	color: #fff;
	text-decoration: none;
}

.media-info li:not(:last-child) {
	margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
	padding-left: 100px;
}
.media-info li:nth-child(2),
.media-info li:nth-child(4) {
	padding-left: 50px;
}

.sec-03 {
	margin-bottom: 100px;
}

@media only screen and (min-width: 951px) and (max-width: 1300px) {
	.about-section {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 60px;
		padding-bottom: 60px;
		padding-left: 80px;
		padding-right: 40px;
		color: var(--body-color);
	}

	.about-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.main-title {
		font-size: 2em;
		margin-bottom: 20px;
	}

	.content {
		position: relative;
		width: 1000px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content .image {
		position: relative;
		width: 400px;
		height: 200px;
		overflow: hidden;
	}

	.content .image img {
		z-index: 111;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	.content .text-box {
		z-index: 112;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(20px);
		padding: 20px;
		max-width: 200px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 10px;
		transform: translate(-80px, 50px);
	}

	.content .text-box h3 {
		font-size: 1em;
		margin-bottom: 5px;
	}
	.media-icons {
		margin-top: 50px;
	}

	.media-icons a {
		color: #fff;
		font-size: 1em;
		margin: 30px;
	}

	.section-title {
		font-size: 1.5em;
		margin-bottom: 40px;
	}

	.info-title {
		font-size: 1em;
		margin-bottom: 5px;
	}

	.info {
		width: 400px;
		margin-left: 25px;
	}

	.media-info {
		width: 400px;
		margin-left: 50px;
	}

	.media-info li {
		list-style: none;
		font-size: 0.8em;
	}

	.media-info li a {
		color: #fff;
		text-decoration: none;
	}

	.media-info li:not(:last-child) {
		margin-bottom: 25px;
	}

	.media-info li:nth-child(1),
	.media-info li:nth-child(5) {
		padding-left: 50px;
	}
	.media-info li:nth-child(2),
	.media-info li:nth-child(4) {
		padding-left: 25px;
	}

	.sec-03 {
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 950px) {
	.about-section {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 25px;
		padding-right: 25px;
		color: var(--body-color);
	}

	.about-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.main-title {
		font-size: 1.6em;
		margin-bottom: 20px;
	}

	.content {
		position: relative;
		width: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content .image {
		position: relative;
		width: 250px;
		height: 150px;
		overflow: visible;
	}

	.content .image img {
		z-index: 111;
		position: absolute;
		top: 0;
		left: 22px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	.content .text-box {
		z-index: 112;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(20px);
		padding: 5px;
		max-width: 100px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 10px;
		transform: translate(-27px, 30px);
		font-size: 0.7em;
	}

	.content .text-box h3 {
		font-size: 1.1em;
		margin-bottom: 5px;
	}
	.content .text-box p {
		font-size: 0.9em;
		margin-bottom: 2px;
	}
	.media-icons {
		margin-top: 40px;
		display: flex;
	}

	.media-icons a {
		color: #fff;
		font-size: 1em;
		margin: 20px;
	}

	.section-title {
		font-size: 1.4em;
		margin-bottom: 20px;
	}

	.info-title {
		font-size: 1.1em;
		margin-bottom: 5px;
	}

	.info {
		width: 200px;
		margin-left: 30px;
	}
	#image-bottom {
		width: 90%;
	}

	.media-info {
		width: 100px;
		margin-left: 50px;
	}
	/* 	.media-info.image img {
		z-index: 111;
		position: absolute;
		top: 0;
		left: 22px;
		width: 9%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	} */

	.media-info li {
		list-style: none;
		font-size: 0.8em;
	}

	.media-info li a {
		color: #fff;
		text-decoration: none;
	}

	.media-info li:not(:last-child) {
		margin-bottom: 10px;
	}

	.media-info li:nth-child(1),
	.media-info li:nth-child(5) {
		padding-left: 28px;
	}
	.media-info li:nth-child(2),
	.media-info li:nth-child(4) {
		padding-left: 11px;
	}

	/* ===== Sidebar ===== */
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 200px;
		padding: 10px 14px;
		background: var(--sidebar-color);
		transition: var(--tran-05);
		z-index: 100;
	}
	.sidebar.close {
		width: 75px;
	}
	/* ===== Reusable code - Here ===== */
	.sidebar li {
		height: 50px;
		list-style: none;
		display: flex;
		align-items: center;
		margin-top: 7px;
	}

	.sidebar header .image,
	.sidebar .icon {
		min-width: 50px;
		border-radius: 6px;
	}

	.sidebar .icon {
		min-width: 50px;
		border-radius: 4px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
	}

	.sidebar .text {
		font-size: 12px;
		font-weight: 500;
		white-space: wrap;
		opacity: 1;
	}
	/* =========================== */

	.sidebar header {
		position: relative;
	}

	.sidebar header .image-text {
		display: flex;
		align-items: center;
	}
	.sidebar header .image-text .image img {
		width: 55px;
	}
	.sidebar header .logo-text {
		display: flex;
		flex-direction: column;
		padding-left: 2px;
	}
	header .image-text .name {
		margin-top: 2px;
		font-size: 15px;
		font-weight: 600;
		white-space: nowrap;
	}

	header .image-text .profession {
		font-size: 12px;
		margin-top: -2px;
		display: block;
	}

	.sidebar header .image {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.sidebar header .image img {
		width: 30px;
		border-radius: 6px;
	}

	.sidebar header .toggle-sidebar {
		position: absolute;
		top: 100%;
		right: -25px;
		transform: translateY(-50%) rotate(180deg);
		height: 25px;
		width: 25px;
		background-color: var(--primary-color);
		color: var(--sidebar-color);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 22px;
		cursor: pointer;
		transition: var(--tran-05);
	}

	body.dark .sidebar header .toggle-sidebar {
		color: var(--text-color);
	}

	.sidebar.close .toggle-sidebar {
		transform: translateY(-50%) rotate(0deg);
	}

	.sidebar .menu {
		margin-top: 20px;
	}

	.sidebar li.search-box {
		border-radius: 6px;
		background-color: var(--primary-color-light);
		cursor: pointer;
		transition: var(--tran-05);
	}

	.sidebar li.search-box input {
		height: 100%;
		width: 100%;
		outline: none;
		border: none;
		background-color: var(--primary-color-light);
		color: var(--text-color);
		border-radius: 6px;
		font-size: 12px;
		font-weight: 500;
		transition: var(--tran-05);
	}
	.sidebar li a {
		list-style: none;
		height: 100%;
		background-color: transparent;
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
		border-radius: 6px;
		text-decoration: none;
		transition: var(--tran-03);
	}

	.sidebar li a:hover {
		background-color: var(--primary-color);
	}
	.sidebar li a:hover .icon,
	.sidebar li a:hover .text {
		color: var(--sidebar-color);
	}
	body.dark .sidebar li a:hover .icon,
	body.dark .sidebar li a:hover .text {
		color: var(--text-color);
	}

	.sidebar .menu-bar {
		height: calc(100% - 100px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow-y: scroll;
	}
	.menu-bar::-webkit-scrollbar {
		display: none;
	}
	.sidebar .menu-bar .mode {
		border-radius: 6px;
		background-color: var(--primary-color-light);
		position: relative;
		transition: var(--tran-05);
	}
	/*bottom content */
	.menu-bar .mode .sun-moon {
		display: none;
	}

	.mode .sun-moon i {
		position: absolute;
	}
	.mode .sun-moon i.sun {
		opacity: 0;
	}
	body.dark .mode .sun-moon i.sun {
		opacity: 1;
	}
	body.dark .mode .sun-moon i.moon {
		opacity: 0;
	}

	.menu-bar .bottom-content {
		margin-bottom: 150px;
	}
	.menu-bar .bottom-content .toggle-switch {
		position: absolute;
		right: 0;
		height: 100%;
		min-width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		cursor: pointer;
	}
	.toggle-switch .switch {
		position: relative;
		height: 22px;
		width: 40px;
		border-radius: 25px;
		background-color: var(--toggle-color);
		transition: var(--tran-05);
	}

	.switch::before {
		content: "";
		position: absolute;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		top: 50%;
		left: 5px;
		transform: translateY(-50%);
		background-color: var(--sidebar-color);
		transition: var(--tran-04);
	}

	body.dark .switch::before {
		left: 20px;
	}
}
