/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	/* ===== Colors ===== */
	--body-color: #e4e9f7;
	--sidebar-color: #fff;
	--primary-color: #695cfe;
	--primary-color-light: #f6f5ff;
	--toggle-color: #ddd;
	--text-color: #707070;

	/* ====== Transition ====== */
	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.3s ease;
	--tran-05: all 0.3s ease;
}

body {
	min-height: 100vh;
	background-color: var(--body-color);
	transition: var(--tran-05);
}

::selection {
	background-color: var(--primary-color);
	color: #fff;
}

body.dark {
	--body-color: #18191a;
	--sidebar-color: #242526;
	--primary-color: #3a3b3c;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	padding: 10px 14px;
	background: var(--sidebar-color);
	transition: var(--tran-05);
	z-index: 100;
}
.sidebar.close {
	width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
	height: 50px;
	list-style: none;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
	min-width: 60px;
	border-radius: 6px;
}

.sidebar .icon {
	min-width: 60px;
	border-radius: 6px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
	color: var(--text-color);
	transition: var(--tran-03);
}

.sidebar .text {
	font-size: 17px;
	font-weight: 500;
	white-space: nowrap;
	opacity: 1;
}
.sidebar.close .text {
	opacity: 0;
}
/* =========================== */

.sidebar header {
	position: relative;
}

.sidebar header .image-text {
	display: flex;
	align-items: center;
}
.sidebar header .image-text .image img {
	width: 60px;
}
.sidebar header .logo-text {
	display: flex;
	flex-direction: column;
	padding-left: 5px;
}
header .image-text .name {
	margin-top: 2px;
	font-size: 18px;
	font-weight: 600;
}

header .image-text .profession {
	font-size: 16px;
	margin-top: -2px;
	display: block;
}

.sidebar header .image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar header .image img {
	width: 40px;
	border-radius: 6px;
}

.sidebar header .toggle-sidebar {
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-50%) rotate(180deg);
	height: 25px;
	width: 25px;
	background-color: var(--primary-color);
	color: var(--sidebar-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	cursor: pointer;
	transition: var(--tran-05);
}

body.dark .sidebar header .toggle-sidebar {
	color: var(--text-color);
}

.sidebar.close .toggle-sidebar {
	transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
	margin-top: 40px;
}

.sidebar li.search-box {
	border-radius: 6px;
	background-color: var(--primary-color-light);
	cursor: pointer;
	transition: var(--tran-05);
}

.sidebar li.search-box input {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	background-color: var(--primary-color-light);
	color: var(--text-color);
	border-radius: 6px;
	font-size: 17px;
	font-weight: 500;
	transition: var(--tran-05);
}
.sidebar li a {
	list-style: none;
	height: 100%;
	background-color: transparent;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	text-decoration: none;
	transition: var(--tran-03);
}

.sidebar li a:hover {
	background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
	color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
	color: var(--text-color);
}

.sidebar .menu-bar {
	height: calc(100% - 55px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
	display: none;
}
.sidebar .menu-bar .mode {
	border-radius: 6px;
	background-color: var(--primary-color-light);
	position: relative;
	transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
	height: 50px;
	width: 60px;
}

.mode .sun-moon i {
	position: absolute;
}
.mode .sun-moon i.sun {
	opacity: 0;
}
body.dark .mode .sun-moon i.sun {
	opacity: 1;
}
body.dark .mode .sun-moon i.moon {
	opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
	position: absolute;
	right: 0;
	height: 100%;
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
}
.toggle-switch .switch {
	position: relative;
	height: 22px;
	width: 40px;
	border-radius: 25px;
	background-color: var(--toggle-color);
	transition: var(--tran-05);
}

.switch::before {
	content: "";
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	background-color: var(--sidebar-color);
	transition: var(--tran-04);
}

body.dark .switch::before {
	left: 20px;
}

.home {
	position: absolute;
	top: 0;
	top: 0;
	left: 250px;
	height: 100vh;
	width: calc(100% - 250px);
	background-color: var(--body-color);
	transition: var(--tran-05);
}
.home .text {
	font-size: 30px;
	font-weight: 500;
	color: var(--text-color);
	padding: 12px 60px;
}

.sidebar.close ~ .home {
	left: 78px;
	height: 100vh;
	width: calc(100% - 78px);
}

ul {
	padding-left: 0 !important;
}
body.dark .home .text {
	color: var(--text-color);
}

.list-group-item {
	color: #373a3c;
	font-size: 12px;
}

.card-style {
	display: flex;
	justify-content: space-evenly; /* Horizontally center align the flex items */
	flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
	font-size: small;
	margin-bottom: 80px;
}
/* Table View */
.card-style.table-view {
	display: table;
	width: 100%;
}

.card-style.table-view .card {
	display: table-row;
	width: 100%;
}

.card-style.table-view .card > div {
	display: table-cell;
	padding: 10px;
	width: 100%;
}
.card-style.table-view .card-img-top {
	width: 200px;
	height: 150px;
	object-fit: cover;
}
.card-style.table-view .card-img-top:hover {
	transform: scale(1.2);
	object-fit: cover;
}
.card-style.table-view .product-icon {
	width: 180px;
}
/* End Table View */

.card {
	width: 200px !important;
	height: 100%;
	margin: 5px;
}
.card-body a {
	text-decoration: none;
	font-size: 8px;
}
.card-img-top {
	width: 200px;
	height: 100px;
	object-fit: cover;
}
.card-img-top:hover {
	transform: scale(1.2);
	object-fit: cover;
}

.logo_nav {
	width: 120px;
}
.navbar-toggler {
	z-index: 9;
}

i {
	/*font-size: 4rem;*/
	font-size: 30px;
}

#footer {
	background-color: #e83e8c;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.rrss {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}

.icon-cart i {
	position: relative;
	color: white;
	font-size: 30px;
	text-align: right;
	z-index: 9;
}
.icon-cart #cart_items {
	display: flex;
	width: 25px;
	height: 25px;
	min-width: 25px;
	background-color: #17a2b8;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 50%;
	position: relative;
	translate: -30px 20px;
	cursor: pointer;
	z-index: 9;
}

.item {
	padding: 10px;
}

.listProduct .item .price {
	letter-spacing: 3px;
	font-size: small;
}
.listProduct .item button {
	background-color: #17a2b8;
	color: white;
	padding: 5px 10px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}
.cartTab {
	width: 450px;
	background-color: rgb(112, 68, 68);
	color: #1bcfc6;
	position: fixed;
	inset: 0 -450px 0 auto;
	display: grid;
	grid-template-rows: 70px 1fr 70px;
	transition: 0.5s;
	height: 700px;
	opacity: 90%;
	border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
}

body.showCart .cartTab {
	inset: 0 0 0 auto;
}

body.showCart .cart-push {
	transform: translateX(-250px);
	opacity: 30%;
}
#cart-title {
	padding: 15px;
	margin: 0;
	font-weight: 300;
	font-size: x-large;
	text-align: center;
}
.cartTab .btn {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button {
	background-color: #17a2b8;
	border: none;
	font-weight: 500;
	color: white;
	cursor: pointer;
}
.cartTab .btn .closeCart {
	background-color: #e83e8c;
}

/* .cartTab .listCart .item img {
	width: 100%;
	height: 50px;
} */
.cartTab .listCart .item {
	display: grid;
	grid-template-columns: 150px 150px 1fr;
	gap: 10px;
	text-align: center;
	align-items: center;
}
.listCart .quantity span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: white;
	color: black;
	border-radius: 50%;
	cursor: pointer;
}
/* .listCart .quantity span:nth-child(2) {
	background-color: #7070;
	color: white;
} */
.listCart .item:nth-child(even) {
	background-color: #707070;
	color: white;
}
.listCart {
	overflow: auto;
}
.listCart::-webkit-scrollbar {
	width: 0;
}
.container {
	transition: 0.5s;
}
#carousel {
	position: relative;
	width: 100%;
	/* transform: translateY(-140px); */
}
section .home .carousel-inner img {
	margin: auto;
}

@media screen and (max-height: 800px) {
	.carousel .carousel-inner .carousel-captions {
		height: 24rem !important;
	}
}
#feature {
	background-color: #17a2b8;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
}
.feature-icon {
	color: white;
	font-size: medium;
}

/* @media only screen and (max-width: 800px) {
	#feature {
		height: 10rem;
	}
} */

#backToTop {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 10px; /* Place the button at the bottom of the page */
	right: 10px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #17a2b8; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	animation-name: back;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
}

#backToTop:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}

@keyframes back {
	0% {
		transform: translateY(5px);
	}
	25% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(10px);
	}
	75% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(-5px);
	}
}

/* @media only screen and (max-width: 992px) {
	.listProduct {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (max-width: 992px) {
	.cartTab {
		width: 300px;
	}
} */

/* mobile */
@media only screen and (max-width: 768px) {
	.listProduct {
		grid-template-columns: repeat(2, 1fr);
	}
}
/* mobile */
@media only screen and (max-width: 768px) {
	#feature {
		display: none;
	}
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
	.cartTab {
		width: 300px;
		background-color: white;
		color: #1bcfc6;
		position: fixed;
		inset: 0 -300px 0 auto;
		display: grid;
		grid-template-rows: 70px 1fr 70px;
		transition: 0.5s;
		height: 700px;
		opacity: 90%;
		border-top-left-radius: 5%;
		border-bottom-left-radius: 5%;
	}
	.cartTab .listCart .item {
		display: grid;
		grid-template-columns: 100px 100px 1fr;
		gap: 2px;
		text-align: center;
		align-items: center;
		font-size: small;
	}
	.listCart .quantity span {
		display: inline-block;
		width: 15px;
		height: 15px;
		background-color: white;
		color: black;
		border-radius: 50%;
		cursor: pointer;
	}
}
